extends layout

block content
    .well.league-container.animated.fadeInUp
        h1 About
        p.
            This website is a project I created out of my love for football, design, and programming. Many table
            websites exist already and I definitely do not claim to be revolutionary or the best. Everything is built
             to be minimalistic and follow Google's Material Design guidelines. It may not match up perfectly though
             but in fairness, even Google doesn't follow its own guidelines. If you have any suggestions, please
             leave a comment. If you find a bug, please, please contact me. I try to test
             everything to the best of
             my abilities but things always slip through.

    .well.league-container.animated.fadeInUp
        img#harder-stadium(src='images/static/harder_stadium.jpg' alt='Harder Stadium at University of California, ' +
        'Santa Barbara')
