ul.mfb-zoomin.mfb-component--tr(data-mfb-toggle='hover')
    li.mfb-component__wrap
        a.mfb-component__button--main(data-mfb-label='More Tables')
            i.mfb-component__main-icon--resting.mdi-content-add
            i.mfb-component__main-icon--active.mdi-content-clear
        ul.mfb-component__list
            li
                a.mfb-component__button--child#fab-top(data-mfb-label='Return to top')
                    i.mdi-navigation-expand-less.mfb-component__child-icon
            li
                a.mfb-component__button--child#fab-ha(data-mfb-label='Home and Away')
                    i.mdi-maps-flight.mfb-component__child-icon
            li
                a.mfb-component__button--child#fab-off(data-mfb-label='Offense (Coming soon)')
                    i.mdi-image-flash-on.mfb-component__child-icon
            li
                a.mfb-component__button--child#fab-def(data-mfb-label='Defense (Coming soon)')
                    i.mdi-hardware-security.mfb-component__child-icon
