header
    nav.navbar.navbar-default.navbar-fixed-top
        .max-width
            .navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-responsive-collapse')
                    span.mdi-navigation-menu
                a.navbar-brand(href='/') fctable
            .navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.mdi-navigation-more-vert(href='javascript:void(0)' data-target='#' class='dropdown-toggle'
                        data-toggle='dropdown')
                        ul.dropdown-menu
                            li: a(href='javascript:void(0)') About
                            li: a(href='javascript:void(0)') Contact
