extends layout

block content
    .well.league-container.animated.fadeInUp
        h2 Get started! Click a country above to view the league table.

    .well.league-container.animated.fadeInUp
        h3 What's New
        p 2015-04-25: Initial silent launch with the top tier of England, Spain, Germany, Italy, France, and Portugal
