extends layout_index

block content
    .well.league-container.animated.fadeInUp
        h2 Get started! Click a country above to view the league table.

    .well.league-container.animated.fadeInUp
        h3 What's New
        p 2015-04-26: Added dependencies page for those interested. Added markings for special positions.
        p 2015-04-25: Initial silent launch with the top tier of England, Spain, Germany, Italy, France, and Portugal

    .well.league-container.animated.fadeInUp
        h3 Roadmap
        ul
            li More stat tables like Home & Away, Offensive, Defensive, etc.
            li FAB button to show other tables.
            li Horizontally scrollable tabs for mobile.
            li Fully responsive.
            li More leagues (logistical issue).
            li Night mode.
            li Instructional landing page (or a better home page).
            li Single-page conversion.
