.tab-view
    .tab-container.max-width
        ul.nav.nav-tabs
            li.hvr-underline-reveal.active: a(href='england-1', data-toggle='tab') England
            li.hvr-underline-reveal: a(href='spain-1', data-toggle='tab') Spain
            li.hvr-underline-reveal: a(href='germany-1', data-toggle='tab') Germany
            li.hvr-underline-reveal: a(href='italy-1', data-toggle='tab') Italy
