.tab-view
    .tab-container.max-width
        ul.nav.nav-tabs
            li#england-tab.hvr-underline-reveal: a(href='/england/1') England
            li#spain-tab.hvr-underline-reveal: a(href='/spain/1') Spain
            li#germany-tab.hvr-underline-reveal: a(href='/germany/1') Germany
            li#italy-tab.hvr-underline-reveal: a(href='/italy/1') Italy
