.tab-view
    .tab-container.max-width
        ul.nav.nav-tabs
            li.hvr-underline-reveal: a(href='/england/1') England
            li.hvr-underline-reveal: a(href='/spain/1') Spain
            li.hvr-underline-reveal: a(href='/germany/1') Germany
            li.hvr-underline-reveal: a(href='/italy/1') Italy
            li.hvr-underline-reveal: a(href='/france/1') France
            li.hvr-underline-reveal: a(href='/portugal/1') Portugal
