extends ../layout
block content
    .well.league-container.animated.fadeInUp
        h2 Contact
        p
            |Please direct comments, suggestions, and bugs to
            a(href='mailto:contact@wulfcode.com')  contact@wulfcode.com.
