extends ../layout
block content
    .well.league-container.animated.fadeInUp
        h1 Front end
        ul
            li: a(href='http://getbootstrap.com/') Bootstrap
            li: a(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html').
                Bootstrap Material Design
            li: a(href='http://ianlunn.github.io/Hover/') Hover.css
            li: a(href='http://daneden.github.io/animate.css/') Animate.css
            li: a(href='http://tablesorter.com/docs/') Tablesorter

    .well.league-container.animated.fadeInUp
        h1 Back end
        ul
            li: a(href='https://nodejs.org/') Node.js
            li: a(href='http://expressjs.com/') Express
            li: a(href='https://www.mongodb.org/') MongoDB
            li: a(href='http://gulpjs.com/') Gulp
            li: a(href='http://jade-lang.com/') Jade
            li: a(href='https://learnboost.github.io/stylus/') Stylus
